In [5]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

In [8]:
kaggle_data_df = pd.read_csv("resources/kaggle_alz.csv")
kaggle_data_df.head()

C:\Users\nazel\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,...,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
0,2020,2020,HI,Hawaii,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,...,NaN,POINT (-157.8577494 21.30485044),C01,TOC11,Q43,15,AGE,5064,OVERALL,OVERALL
1,2017,2017,ID,Idaho,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,...,NaN,POINT (-114.36373 43.68263001),C05,TMC03,Q27,16,AGE,5064,OVERALL,OVERALL
2,2017,2017,ID,Idaho,BRFSS,Overall Health,Arthritis among older adults,Percentage of older adults ever told they have...,%,PRCTG,...,NaN,POINT (-114.36373 43.68263001),C01,TOC11,Q43,16,AGE,5064,OVERALL,OVERALL
3,2018,2018,ID,Idaho,BRFSS,Overall Health,Physically unhealthy days (mean number of days),Physically unhealthy days (mean number of days...,Number,MEAN,...,NaN,POINT (-114.36373 43.68263001),C01,TOC01,Q08,16,AGE,5064,OVERALL,OVERALL
4,2020,2020,IN,Indiana,BRFSS,Mental Health,Lifetime diagnosis of depression,Percentage of older adults with a lifetime dia...,%,PRCTG,...,Male,POINT (-86.14996019 39.76691045),C05,TMC03,Q27,18,AGE,AGE_OVERALL,GENDER,MALE

In [18]:
kaggle_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214462 entries, 0 to 214461
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  214462 non-null  int64
 1   YearEnd                    214462 non-null  int64
 2   LocationAbbr               214462 non-null  object
 3   LocationDesc               214462 non-null  object
 4   Datasource                 214462 non-null  object
 5   Class                      214462 non-null  object
 6   Topic                      214462 non-null  object
 7   Question                   214462 non-null  object
 8   Data_Value_Unit            214462 non-null  object
 9   DataValueTypeID            214462 non-null  object
 10  Data_Value_Type            214462 non-null  object
 11  Data_Value                 144629 non-null  float64
 12  Data_Value_Alt             144629 non-null  float64
 13  Low_Confidence_Limit       144472 non-null  object
 14  High_Confidence_Limit      144472 non-null  object
 15  Sample_Size                0 non-null       float64
 16  StratificationCategory1    214462 non-null  object
 17  Stratification1            214462 non-null  object
 18  StratificationCategory2    186793 non-null  object
 19  Stratification2            186793 non-null  object
 20  Geolocation                191413 non-null  object
 21  ClassID                    214462 non-null  object
 22  TopicID                    214462 non-null  object
 23  QuestionID                 214462 non-null  object
 24  LocationID                 214462 non-null  int64
 25  StratificationCategoryID1  214462 non-null  object
 26  StratificationID1          214462 non-null  object
 27  StratificationCategoryID2  214462 non-null  object
 28  StratificationID2          214462 non-null  object
dtypes: float64(3), int64(3), object(23)
memory usage: 47.5+ MB

Hypothesis1 - There is a dependency between physical activity and patient's well being
Hypothesis2 - There is a dependency between age and patient's well being
Hypothesis3 - There is a dependency between gender and patient's well being

Filtering kaggle_data_df DataFrame to get info about the people all over the country, during 5 years (2015-2020) whose overall health was poor and who were physically inactive.

Description of the fields:
"Class" = "Overall Health"
Q32 - "Question" = "Percentage of older adults who self-reported that their health is "fair" or "poor"
Q35 - "Question" = "Mean number of days with activity limitations in the past month"
StratificationCategoryID1 - Age
StratificationID1 - Age Group = "AGE_OVERALL"
StratificationCategoryID2 - Race, Gender, Overall 
StratificationID2 = = "Overall"

In [93]:
filtered_db = kaggle_data_df.loc[((kaggle_data_df['QuestionID'] =="Q32") | (kaggle_data_df['QuestionID'] =="Q35")) & ((kaggle_data_df['StratificationCategoryID1'] =="AGE") & (kaggle_data_df['StratificationID1'] =="AGE_OVERALL")) & ((kaggle_data_df['StratificationCategoryID2'] =="OVERALL") & (kaggle_data_df['StratificationID2'] =="OVERALL"))]
filtered_db.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,...,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
90,2016,2016,AK,Alaska,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,NaN,POINT (-147.722059 64.84507996),C01,TOC03,Q35,2,AGE,AGE_OVERALL,OVERALL,OVERALL
542,2016,2016,AK,Alaska,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,NaN,POINT (-147.722059 64.84507996),C01,TOC07,Q32,2,AGE,AGE_OVERALL,OVERALL,OVERALL
613,2017,2017,AL,Alabama,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,NaN,POINT (-86.63186076 32.84057112),C01,TOC03,Q35,1,AGE,AGE_OVERALL,OVERALL,OVERALL
741,2019,2019,AL,Alabama,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,NaN,POINT (-86.63186076 32.84057112),C01,TOC07,Q32,1,AGE,AGE_OVERALL,OVERALL,OVERALL
913,2019,2019,AZ,Arizona,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,NaN,POINT (-111.7638113 34.86597028),C01,TOC07,Q32,4,AGE,AGE_OVERALL,OVERALL,OVERALL

In [95]:
filtered_gender_db = kaggle_data_df.loc[((kaggle_data_df['QuestionID'] =="Q32") | (kaggle_data_df['QuestionID'] =="Q35")) & ((kaggle_data_df['StratificationCategoryID1'] =="AGE") & (kaggle_data_df['StratificationID1'] =="AGE_OVERALL")) & ((kaggle_data_df['StratificationCategoryID2'] =="GENDER") & ((kaggle_data_df['StratificationID2'] =="FEMALE") | (kaggle_data_df['StratificationID2'] =="MALE")))]
filtered_gender_db

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,DataValueTypeID,...,Stratification2,Geolocation,ClassID,TopicID,QuestionID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
15,2017,2017,KY,Kentucky,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,Male,POINT (-84.77497105 37.64597027),C01,TOC03,Q35,21,AGE,AGE_OVERALL,GENDER,MALE
387,2018,2018,AL,Alabama,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,Female,POINT (-86.63186076 32.84057112),C01,TOC03,Q35,1,AGE,AGE_OVERALL,GENDER,FEMALE
665,2020,2020,AZ,Arizona,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,Male,POINT (-111.7638113 34.86597028),C01,TOC03,Q35,4,AGE,AGE_OVERALL,GENDER,MALE
1157,2017,2017,AL,Alabama,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,Male,POINT (-86.63186076 32.84057112),C01,TOC07,Q32,1,AGE,AGE_OVERALL,GENDER,MALE
1681,2016,2016,AL,Alabama,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,Male,POINT (-86.63186076 32.84057112),C01,TOC07,Q32,1,AGE,AGE_OVERALL,GENDER,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213763,2019,2019,WY,Wyoming,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,Female,POINT (-108.1098304 43.23554134),C01,TOC07,Q32,56,AGE,AGE_OVERALL,GENDER,FEMALE
213865,2018,2018,WY,Wyoming,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,Female,POINT (-108.1098304 43.23554134),C01,TOC07,Q32,56,AGE,AGE_OVERALL,GENDER,FEMALE
213986,2016,2016,WY,Wyoming,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,Male,POINT (-108.1098304 43.23554134),C01,TOC03,Q35,56,AGE,AGE_OVERALL,GENDER,MALE
214013,2017,2017,WY,Wyoming,BRFSS,Overall Health,Self-rated health (fair to poor health),Percentage of older adults who self-reported t...,%,PRCTG,...,Male,POINT (-108.1098304 43.23554134),C01,TOC07,Q32,56,AGE,AGE_OVERALL,GENDER,MALE
214159,2016,2016,WY,Wyoming,BRFSS,Overall Health,Recent activity limitations in past month,Mean number of days with activity limitations ...,Number,MEAN,...,Female,POINT (-108.1098304 43.23554134),C01,TOC03,Q35,56,AGE,AGE_OVERALL,GENDER,FEMALE

Filtering DataBase by taking only necessary columns of it

In [96]:
reduced_columns_less_active_df = filtered_db[['YearStart', 'LocationDesc', 'Geolocation', 'Data_Value_Unit', 'Data_Value', 'QuestionID', 'StratificationCategoryID1', 'StratificationID1', 'StratificationCategoryID2', 'StratificationID2']]
reduced_columns_less_active_df.reset_index(drop=True, inplace=True)
reduced_columns_less_active_df

,YearStart,LocationDesc,Geolocation,Data_Value_Unit,Data_Value,QuestionID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
0,2016,Alaska,POINT (-147.722059 64.84507996),Number,5.2,Q35,AGE,AGE_OVERALL,OVERALL,OVERALL
1,2016,Alaska,POINT (-147.722059 64.84507996),%,19.2,Q32,AGE,AGE_OVERALL,OVERALL,OVERALL
2,2017,Alabama,POINT (-86.63186076 32.84057112),Number,8.3,Q35,AGE,AGE_OVERALL,OVERALL,OVERALL
3,2019,Alabama,POINT (-86.63186076 32.84057112),%,31.1,Q32,AGE,AGE_OVERALL,OVERALL,OVERALL
4,2019,Arizona,POINT (-111.7638113 34.86597028),%,23.8,Q32,AGE,AGE_OVERALL,OVERALL,OVERALL
...,...,...,...,...,...,...,...,...,...,...
691,2018,Wyoming,POINT (-108.1098304 43.23554134),Number,6.0,Q35,AGE,AGE_OVERALL,OVERALL,OVERALL
692,2016,Wyoming,POINT (-108.1098304 43.23554134),Number,6.1,Q35,AGE,AGE_OVERALL,OVERALL,OVERALL
693,2015,Wyoming,POINT (-108.1098304 43.23554134),Number,6.7,Q35,AGE,AGE_OVERALL,OVERALL,OVERALL
694,2016,Wyoming,POINT (-108.1098304 43.23554134),%,20.6,Q32,AGE,AGE_OVERALL,OVERALL,OVERALL
695,2018,Wyoming,POINT (-108.1098304 43.23554134),%,20.6,Q32,AGE,AGE_OVERALL,OVERALL,OVERALL

In [87]:
reduced_columns_less_active_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   YearStart                  696 non-null    int64
 1   LocationDesc               696 non-null    object
 2   Geolocation                636 non-null    object
 3   Data_Value_Unit            696 non-null    object
 4   Data_Value                 696 non-null    float64
 5   QuestionID                 696 non-null    object
 6   StratificationCategoryID1  696 non-null    object
 7   StratificationID1          696 non-null    object
 8   StratificationCategoryID2  696 non-null    object
 9   StratificationID2          696 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 54.5+ KB

In [97]:
less_active_poor_health_df = reduced_columns_less_active_df.pivot_table(index=['YearStart', 'LocationDesc', 'Geolocation',  'StratificationCategoryID1', 'StratificationID1', 'StratificationCategoryID2', 'StratificationID2'], columns='QuestionID', values = 'Data_Value').reset_index()
less_active_poor_health_df

QuestionID,YearStart,LocationDesc,Geolocation,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,Q32,Q35
0,2015,Alabama,POINT (-86.63186076 32.84057112),AGE,AGE_OVERALL,OVERALL,OVERALL,30.0,7.7
1,2015,Alaska,POINT (-147.722059 64.84507996),AGE,AGE_OVERALL,OVERALL,OVERALL,19.5,5.7
2,2015,Arizona,POINT (-111.7638113 34.86597028),AGE,AGE_OVERALL,OVERALL,OVERALL,23.8,6.4
3,2015,Arkansas,POINT (-92.27449074 34.74865012),AGE,AGE_OVERALL,OVERALL,OVERALL,34.4,8.2
4,2015,California,POINT (-120.9999995 37.63864012),AGE,AGE_OVERALL,OVERALL,OVERALL,24.3,6.2
...,...,...,...,...,...,...,...,...,...
313,2020,Virginia,POINT (-78.45789046 37.54268067),AGE,AGE_OVERALL,OVERALL,OVERALL,18.7,5.9
314,2020,Washington,POINT (-120.4700108 47.52227863),AGE,AGE_OVERALL,OVERALL,OVERALL,16.7,5.8
315,2020,West Virginia,POINT (-80.71264013 38.6655102),AGE,AGE_OVERALL,OVERALL,OVERALL,29.9,7.8
316,2020,Wisconsin,POINT (-89.81637074 44.39319117),AGE,AGE_OVERALL,OVERALL,OVERALL,15.2,5.5
317,2020,Wyoming,POINT (-108.1098304 43.23554134),AGE,AGE_OVERALL,OVERALL,OVERALL,17.0,5.9

In [98]:
reduced_columns_gender_df = filtered_gender_db[['YearStart', 'LocationDesc', 'Geolocation', 'Data_Value_Unit', 'Data_Value', 'QuestionID', 'StratificationCategoryID1', 'StratificationID1', 'StratificationCategoryID2', 'StratificationID2']]
reduced_columns_gender_df.reset_index(drop=True, inplace=True)
reduced_columns_gender_df

,YearStart,LocationDesc,Geolocation,Data_Value_Unit,Data_Value,QuestionID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
0,2017,Kentucky,POINT (-84.77497105 37.64597027),Number,8.7,Q35,AGE,AGE_OVERALL,GENDER,MALE
1,2018,Alabama,POINT (-86.63186076 32.84057112),Number,7.8,Q35,AGE,AGE_OVERALL,GENDER,FEMALE
2,2020,Arizona,POINT (-111.7638113 34.86597028),Number,6.3,Q35,AGE,AGE_OVERALL,GENDER,MALE
3,2017,Alabama,POINT (-86.63186076 32.84057112),%,32.6,Q32,AGE,AGE_OVERALL,GENDER,MALE
4,2016,Alabama,POINT (-86.63186076 32.84057112),%,30.5,Q32,AGE,AGE_OVERALL,GENDER,MALE
...,...,...,...,...,...,...,...,...,...,...
1387,2019,Wyoming,POINT (-108.1098304 43.23554134),%,19.8,Q32,AGE,AGE_OVERALL,GENDER,FEMALE
1388,2018,Wyoming,POINT (-108.1098304 43.23554134),%,18.9,Q32,AGE,AGE_OVERALL,GENDER,FEMALE
1389,2016,Wyoming,POINT (-108.1098304 43.23554134),Number,6.3,Q35,AGE,AGE_OVERALL,GENDER,MALE
1390,2017,Wyoming,POINT (-108.1098304 43.23554134),%,18.7,Q32,AGE,AGE_OVERALL,GENDER,MALE
1391,2016,Wyoming,POINT (-108.1098304 43.23554134),Number,5.9,Q35,AGE,AGE_OVERALL,GENDER,FEMALE